nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    font-size: 25px;
    margin-right: 10px;
    padding: 20px;
}
nav li a:hover{
    background-color: lightslategray;
    color: white;
}
nav li a{
    text-decoration: none;
}